@import '../../media-queries.scss';

.form {
  font-size: 1.75rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $md-breakpoint) {
    max-width: 60%;
    margin: 0 auto;
  }

  @media only screen and (min-width: $large-breakpoint) {
    max-width: 40%;
  }

  &__control {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  &__label {
    letter-spacing: 1px;
    margin-bottom: 0.15em;
  }

  &__input,
  &__select {
    border: 1px solid #102e4a;
    border-radius: 5px;
    font-family: inherit;
    padding: 0.5em 2em;
  }

  &__select {
    margin-bottom: 1em;
  }

  /* simple select style for weightsForm */
}
