.dashboard {
  padding: 2rem 1.25rem;
  background-color: rgb(252, 248, 248);
  border-radius: 5px;
}

.actions {
  display: flex;
}

.sidenav {
  background-color: #bbb;
  border-radius: 5px;
  flex: 0 0 12%;
  font-size: 1.5rem;

  &__title {
    text-align: center;
    padding: 1.25rem 0;
    border-bottom: 1px solid #ccc;
    background-color: #aaa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #333;
  }

  &__list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #000;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 1rem 1.75rem;
    color: currentColor;
  }
}

.content {
  min-height: 40rem;
  padding: 2rem;
}
