.user {
  padding: 3rem 0;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: max-content minmax(max-content, 1fr);
  row-gap: 3rem;

  &__profile {
    border: 1px solid rgba(0, 0, 0, 1);

    align-self: center;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
    grid-template-columns: repeat(4, minmax(max-content, 1fr));
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__value {
    font-size: 2.5rem;
  }

  &__key {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}
