.user {
  display: flex;
  font-size: 2.25rem;
  font-weight: 300;
  height: 30vh;
  margin-bottom: 8rem;

  &__image {
    flex: 0 0 30%;
    height: 100%;
    border-radius: 50%;
    margin-right: 10rem;
  }

  &__view {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__personal {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__key {
    font-size: 1.45rem;
    text-transform: capitalize;
  }
}
