.sidenav {
  background-color: #bbb;
  font-size: 1.75rem;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 8rem;
    border-radius: 50%;
  }

  &__greeting {
    margin-bottom: 3rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    align-self: stretch;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1rem 1.75rem;
    color: currentColor;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
  }

  &__icon {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 1em;
    fill: currentColor;
  }
}
