.heading-3 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.heading-4 {
  font-size: 3rem;
  font-weight: 400;
  grid-column: 1 / -1;
}

.weights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  row-gap: 1.25rem;
}

.weight {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(3, max-content);
  padding: 2rem;
  column-gap: 1.25rem;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &__title {
    font-size: 2.15rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
  }

  &__value {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 1.2rem;
    &--current {
      font-weight: bold;
    }

    &--last {
      grid-row: 3 / 4;
    }
  }

  &__stats {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.25rem;
      color: #000;
      border: 1px solid #000;
      align-self: flex-start;
      padding: 0.5rem 1rem;
      transition: transform 0.2s;
    }

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}
