@import '../../media-queries.scss';

.user-actions {
  grid-column: 1 / -1;
  padding: 1em 2em;

  @media only screen and (min-width: $large-breakpoint) {
    flex: 1;
    padding-top: 4rem;
    grid-column: 2 / -1;
  }
}
