@import '../../media-queries.scss';

.detailed-weight {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
  justify-content: space-between;

  @media only screen and (min-width: $large-breakpoint) {
    grid-template-columns: repeat(4, minmax(15.5rem, 22rem));
  }

  &__title {
    grid-column: 1 / -1;
    font-size: 2.75rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;

    @media only screen and (min-width: $large-breakpoint) {
      font-size: 3.25rem;
    }
  }

  &__box {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.75rem;

    @media only screen and (min-width: $large-breakpoint) {
      grid-column: span 1;
      font-size: 2.125rem;
      margin-bottom: 5rem;
    }
  }

  &__prefix {
    text-transform: capitalize;
    margin-right: 0.75rem;
  }

  &__data {
    text-transform: uppercase;
  }

  &__no-grpah {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

canvas {
  max-width: 90rem;
  margin: 0 auto;
  grid-column: 1 / -1;
}
